<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workflow Master - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-primary login-header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Workflow Master v1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form>
                    <div class="dropdown userprofile">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{usersid}} {{username}}
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" style="color: grey !important;" href="#">Group: {{dept}} | {{wgroup}}</a>
                            </li>
                            <li><a class="dropdown-item" style="color: grey !important;" href="#">Change Password</a>
                            </li>
                            <li><a class="dropdown-item" style="color: grey !important;" href="/logout">Logout</a></li>

                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main Content -->

    

    <div class="container mt-3 content-grid">
        <div class="left-content">
            <h6 class="lead">Welcome to Workflow Master</h6>
            <h6 class="lead">Seamlessly streamline your processes with our comprehensive checklist management and
                knowledge repository solution, revolutionizing your workflow efficiency</h6>


                {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if 'You do not' in message %}flash-danger{% else %}flash-success{% endif %}">
             
              {{ message }}
                
                <button class="btn btn-sm" onclick="this.parentElement.style.display='none';" aria-label="Close">
                  <i class="fa-sharp fa-solid fa-xmark" style="color: #FFF !important;"></i>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

            <div class="app-grid">
                <div class="app-item" data-bs-toggle="modal" data-bs-target="#createreview">
                    <img src="https://cdn-icons-png.flaticon.com/512/3658/3658756.png" alt="">
                    <h6>CREATE NEW REVIEW</h6>
                </div>


                <!--Create Review Modal -->
                <div class="modal fade" id="createreview" tabindex="-1" aria-labelledby="createreviewLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="createreviewLabel">Create New Review</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               
                                <div class="mb-3">
                                    <label class="form-label">Enter Case Number</label>
                                    <input type="text" class="form-control" id="casenumber" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Select Checklist</label>
                                    <select name="" id="" class="form-select" required>
                                        <option value=""></option>
                                        <option value="">PAR - INITIAL REVIEW</option>
                                        <option value="">PAR - RESUB REVIEW</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                        
                                <button type="button" class="btn btn-primary">CREATE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/1157/1157026.png" alt="">
                    <h6>VIEW RECORDS</h6>
                </div>

                <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/2436/2436702.png" alt="">
                    <h6>KNOWLEDGE BANK</h6>
                </div>

                <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/11509/11509610.png" alt="">
                    <h6>ACD CALCULATOR</h6>
                </div>

                

            </div>

            <h6 class="mt-5">Administrator Access</h6>

            <div class="app-grid">
               
                <a href="/adminchecklist">
                    <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/15239/15239514.png" alt="">
                    <h6>CHECKLIST ADMIN</h6>
                    </div>
                </a>

                <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/15239/15239514.png" alt="">
                    <h6>KNOWLEDGE BANK ADMIN</h6>
                </div>

                <div class="app-item">
                    <img src="https://cdn-icons-png.flaticon.com/512/15239/15239514.png" alt="">
                    <h6>SYSTEM ACCESS ADMIN</h6>
                </div>

            </div>
        </div>

        <div class="right-content">
            <h6>Quick Links</h6>
            <div class="side-grid">
                <a href="">Chase Answers</a>
                <a href="">Data Verify</a>
            </div>
        </div>
    </div>





    <!-- Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>