<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workflow Master - Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg bg-primary login-header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Workflow Master v1.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"><i
                class="fa-solid fa-house fa-sp fa-white"></i>Home</a>
          </li>

        </ul>
        <form>
          <div class="dropdown userprofile">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{usersid}} {{username}}
            </button>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" style="color: grey !important;" href="#">Group: {{dept}} | {{wgroup}}</a>
              </li>
              <li><a class="dropdown-item" style="color: grey !important;" href="#">Change Password</a>
              </li>
              <li><a class="dropdown-item" style="color: grey !important;" href="/logout">Logout</a></li>

            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- Main Content -->

  <div class="content-wrapper-1">

    <div class="sidebar-grid">
      <div class="sidebar-item">
        <a href="/admincheckpoint?checklist={{ var_checklist }}&dept={{var_dept}}&wgroup={{var_wgroup}}">
          <i class="fa-solid fa-book fa-sp"></i>RETURN TO CHECKPOINTS</a>



        <a href="" data-bs-toggle="modal" data-bs-target="#addSelection"><i class="fa-solid fa-plus fa-sp"></i>ADD
          SELECTION</a>

      </div>

    </div>

    <!-- Modal -->


    <!-- Modal -->
    <div class="modal fade" id="addSelection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="addSelectionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h1 class="modal-title fs-5 fa-white" id="addSelectionLabel">ADD SELECTION</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/addSelection" method="post">
            <div class="modal-body">
              <div class="mb-1">
                <label class="form-label col-form-label">CHECKPOINT ID</label>
                <input type="text" class="form-control read-only" name="chkptid" readonly value="{{var_chkptid}}">
              </div>
              <div class="mb-1">
                <label class="form-label col-form-label">ENTER OPTION Value</label>
                <input type="text" class="form-control" name="optionValue" required>
              </div>

              <div class="mb-1">
                <label class="form-label col-form-label">ENTER SORT/ARRANGEMENT</label>
                <input type="number" class="form-control" name="optionSort" value="{{optionCount}}" required>
              </div>

              <div class="mb-1">
                <input hidden type="text" class="form-control" name="currURL" id="currURL" required>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">CREATE</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="admin-maincontent">

      <div class="content-section" id="searchcheckpoint">




        {% for i in checkpointDetails %}



        <div class="container">
          <form action="/updatecheckpoint" method="post">
            <div class="d-flex justify-content-between"
              style="background-color: var(--blue); border-bottom: 1px solid whitesmoke;">
              <h5 style="align-items: center;">Checkpoint Details</h5>
              <button class="btn btn-success" onclick="updateIOP()"> <i class="fa-solid fa-floppy-disk fa-sp fa-xl"
                  style="color: #FFF !important;"></i>SAVE CHANGES</button>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label class="col-sm-4 col-form-label">CHECKPOINT ID</label>
                <input type="text" class="form-control read-only" name="chkptid" readonly value="{{i.CHKPT_ID}}">
              </div>

              <div class="col-6">
                <label class="col-sm-4 col-form-label">DEPARTMENT</label>
                <input type="text" class="form-control read-only" name="var_dept" readonly value="{{var_dept}}">
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-6">
                <label class="col-sm-4 col-form-label">WORKGROUP</label>
                <input type="text" class="form-control read-only" name="var_wgroup" readonly value="{{var_wgroup}}">
              </div>

              <div class="col-6">
                <label class="col-2 col-form-label">CHECKLIST</label>
                <input type="text" class="form-control read-only" name="var_checklist" readonly
                  value="{{var_checklist}}">
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-6">
                <label class=" col-form-label">CHECKPOINT ARRANGEMENT</label>
                <input type="number" class="form-control" name="sort" value="{{i.SORT}}">
              </div>

              <div class="col-6">
                <label class="col-2 col-form-label">ACTIVE/INACTIVE</label>
                <select name="active" class="form-select" id="activeSelect">
                  <option value="1" {% if chkptactive==1 %} selected {% endif %}>ACTIVE</option>
                  <option value="0" {% if chkptactive==0 %} selected {% endif %}>INACTIVE</option>
                </select>
              </div>


            </div>

            <div class="row mb-1">
              <div class="col-12">
                <label class="col-2 col-form-label">CATEGORY</label>
                <input type="text" class="form-control" name="category" value="{{i.CATEGORY}}" required>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-12">
                <label class="col-2 col-form-label">CHECKPOINT/QUESTION</label>
                <textarea class="form-control fixed-tarea" id="" cols="30" rows="5" name="question"
                  required>{{i.QUESTION}}</textarea>
              </div>
            </div>


            <div class="row mb-1">
              <div class="col-12">
                <label class="col-2 col-form-label">OBSERVATION TEMPLATE</label>
                <textarea class="form-control fixed-tarea" id="" cols="30" rows="5" name="obstemplate"
                  required>{{i.OBS_TEMPLATE}}</textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <details>
                  <summary><label class="col-2 col-form-label">PROCESS GUIDELINE</label></summary>

                  <div class="mb-1 mt-1 grid-editor">

                    <a class="btn btn-success" onclick="formatText('bold')"><i class="fa-solid fa-bold fa-white"></i></a>
                    <a class="btn btn-success" onclick="formatText('italic')"><i class="fa-solid fa-italic fa-white"></i></a>
                    <a class="btn btn-success" onclick="formatText('underline')"><i class="fa-solid fa-underline fa-white"></i></a>
                    <a class="btn btn-success" onclick="formatText('insertUnorderedList')"><i class="fa-solid fa-list fa-white"></i></a>
                    <a class="btn btn-success" onclick="formatText('insertOrderedList')"><i class="fa-solid fa-list-ol fa-white"></i></a>

                  </div>


                  <div class="editor iop" contenteditable="true" id="editor">
                    <p>{{i.IOP | safe}}</p>
                  </div>
                  <input type="hidden" name="iop" id="iop" style="height: 300px; width: 100%;">

                </details>


              </div>
            </div>
          </form>
          <div class="col-sm-12">
            <h5>List of Selection</h5>
            <table class="table table-bordered">
              <thead>
                <th>ACTION
                </th>
                <th>ANSWER/OPTIONS</th>
              </thead>
              <tbody>
                {% for o in optionList %}
                <form action="/deleteOption" method="post">
                  <tr>

                    <td style="width: 50px;">

                      <div class="d-flex gap-2">
                        <a class="btn btn-success btn-sm"
                          href="/createtask?checklist={{ i.CHECKLIST }}&dept={{i.DEPARTMENT}}&wgroup={{i.WORKGROUP}}&chkpt={{i.CHKPT_ID}}&opt={{o.ID}}&checkpoint={{i.QUESTION}}">

                          <i class="fa-solid fa-plus fa-lg" style="color: #FFF !important;"></i>

                        </a>
                        <a href="/admincheckpoint?checklist={{ i.CHECKLIST }}&dept={{i.DEPARTMENT}}&wgroup={{i.WORKGROUP}}"
                          data-bs-toggle="modal" data-bs-target="#staticBackdrop{{loop.index}}">
                          <button class="btn btn-sm btn-danger"><i
                              class="fa-solid fa-trash-can fa-lg fa-white"></i></button>
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{loop.index}}" data-bs-backdrop="false" data-bs-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <form action="/deleteOption" method="post">
                              <div class="modal-content">
                                <div class="modal-header bg-danger">
                                  <h1 class="modal-title fs-5 fa-white" id="staticBackdropLabel">ALERT</h1>
                                </div>
                                <div class="modal-body">
                                  <p class="lead" style="text-align: left;">Are your sure you want to proceed deleting
                                    this Option?</p>
                                  <p class="lead" style="text-align: left; font-weight: bold;">{{o.SELECT_OPTION}}</p>
                                  <input hidden type="text" name="optionid" readonly value="{{o.ID}}">
                                </div>
                                <div class="modal-footer bg-light">
                                  <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn-primary">Proceed</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td>{{o.SELECT_OPTION}}</td>
                    <input hidden type="number" name="optionid" value="{{o.ID}}">
                    <input hidden type="text" name="checklist" value="{{o.CHECKLIST}}">
                    <input hidden type="text" name="dept" value="{{o.DEPARTMENT}}">
                    <input hidden type="text" name="wgroup" value="{{o.WORKGROUP}}">
                    <input hidden type="number" name="chkpt" value="{{o.CHKPT_ID}}">



                  </tr>
                </form>
                {% endfor %}
              </tbody>

            </table>
          </div>


        </div>



        {% endfor %}

      </div>
    </div>



  </div>



  <!-- Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

  <script>
    // Get the current URL
    var currentURL = window.location.href;

    // Set the value of the input field to the current URL
    document.getElementById('currURL').value = currentURL;
    document.getElementById('currURL2').value = currentURL;
  </script>

  <script>
    function formatText(command, value = null) {
      document.execCommand(command, false, value);
    }

    // Function to update the value of the hidden input field with the content of the div
    function updateIOP() {
      var iopContent = document.getElementById('editor').innerHTML;
      document.getElementById('iop').value = iopContent;
    }


  </script>

</body>

</html>